# /etc/systemd/system/insyte.service
# sudo systemctl enable insyte
# sudo systemctl start insyte
[Unit]
Description=My Docker Compose Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/path/to/your/docker-compose-directory
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
RestartSec=5s
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

